{{!-- Page heading --}}
<section class="section inner-page-heading">

  {{breadcrumbs}}

  <h1 class="section__title section__title--left">
    {{post.title}}

    {{#is post.status 'none'}}
    {{else}}
      <span class="post-status post-status--{{post.status_dasherized}}">({{post.status_name}})</span>
    {{/is}}
  </h1>

  {{#if settings.show_community_post_meta}}
    <div class="section__meta">
      <img class="user-avatar user-avatar--default" src="{{post.author.avatar_url}}" alt="Avatar">
      <div>
        <b>
          {{#link 'user_profile' id=post.author.id}}
            {{post.author.name}}
          {{/link}}
        </b>
        <div class="meta">{{date post.created_at}}</div>
      </div>
      <div class="subscribe-btn">
        {{#post.actions}}
          <span class="fas fa-cog"></span>
        {{/post.actions}}
      </div>
    </div>
  {{/if}}

  {{#if settings.show_follow_community_post}}
    <div class="section__subscribe subscribe-btn">
      {{subscribe}}
    </div>
  {{/if}}

</section>

{{!-- Post content --}}
<section class="inner-page">
  <div class="row">
    <div class="col-12 col-md-8 col-lg-9">

      <div class="markdown" itemprop="articleBody" data-article-body data-plugin-article-body>
        {{post.details}}
      </div>

      {{#if settings.show_community_post_sharing}}
        {{share}}
      {{/if}}

      {{#if settings.show_community_post_vote}}
        {{#with post}}
          <div class="article-vote">
            <div class="article-vote__controls">
              {{#vote 'up' class='btn btn--color-primary' selected_class='is-active' role='button'}}
                <span class="fa fa-thumbs-up"></span>
              {{/vote}}
              <span class="vote-sum">{{vote 'sum'}}</span>
              {{#vote 'down' class='btn btn--color-primary' selected_class='is-active' role='button'}}
                <span class="fa fa-thumbs-down"></span>
              {{/vote}}
            </div>
          </div>
        {{/with}}
      {{/if}}

    </div>
  </div>
</section>

{{!-- Post comments --}}
<section class="section comments">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">

      <div class="comments__heading">
        <h2 class="comments__title">
          {{t 'comments'}}
          <span class="meta">({{t 'comments_count' count=post.comment_count}})</span>
        </h2>

        {{#if comments}}
          <div class="dropdown" data-plugin-dropdown>
            <a class="js-dropdown-open btn btn--secondary btn--md" tabindex="0" role="button" aria-label="Open">
              {{t 'sort_by'}}
            </a>
            <div class="dropdown__content dropdown__content--xs js-dropdown" role="menu" aria-hidden="true">
              {{#each comment_sorters}}
                <a class="dropdown__menuitem" aria-selected="{{selected}}" href="{{url}}" rel="nofollow" role="menuitem">{{name}}</a>
              {{/each}}
            </div>
          </div>
        {{/if}}
      </div>

      <div class="comments__container">
        {{#if comments}}
          <div class="comments__list" id="comments">
            {{#each comments}}
              <div class="comment" id="{{anchor}}">
                <div class="comment__left">
                  <div class="comment__heading">
                    <img class="user-avatar user-avatar--default" src="{{author.avatar_url}}" alt="Avatar">
                    <div>
                      {{#link 'user_profile' id=author.id}}
                        {{author.name}}
                      {{/link}}
                      <div class="meta">
                        {{date created_at}}
                        {{#if editor}}
                          ({{t 'edited'}} {{date edited_at timeago=true}})
                        {{/if}}
                      </div>
                    </div>
                  </div>
                  <div class="comment__body">
                    {{body}}
                  </div>
                </div>
                <div class="comment__sidebar">
                  {{#unless official}}
                    <div class="vote vote--comment">
                      {{#vote 'up' class='btn btn--light btn--sm btn--circle' role='button' selected_class='is-active'}}
                        <span class="fas fa-angle-up"></span>
                      {{/vote}}
                      <div class="meta">
                        {{vote 'sum'}}
                      </div>
                      {{#vote 'down' class='btn btn--light btn--sm btn--circle' role='button' selected_class='is-active'}}
                        <span class="fas fa-angle-down"></span>
                      {{/vote}}
                    </div>
                  {{/unless}}
                  <div class="comment__actions">
                    {{#actions}}
                      <span class="fas fa-cog"></span>
                    {{/actions}}
                  </div>
                </div>
              </div>
            {{/each}}
          </div>
          {{pagination}}
        {{/if}}

        <p class="comments__callout">{{comment_callout}}</p>

        {{#form 'comment' class='comment-form'}}
          <div class="comment-form__body">
            {{wysiwyg 'body'}}
          </div>
          <div class="comment-form__controls">
            {{input type='submit' class='btn btn--primary'}}
          </div>
        {{/form}}
      </div>

    </div>
  </div>
</section>
