{{!-- Page heading --}}
<section class="section inner-page-heading">
  {{breadcrumbs}}

  <h1 class="section__title section__title--left">
    {{t 'my_activities' }}
  </h1>
</section>

<ul class="my-activities-menu">
  {{#if help_center.request_management_enabled}}
    <li class="my-activities-menu__item is-active">{{t 'requests'}}</li>
  {{/if}}
  <li class="my-activities-menu__item">{{link 'contributions'}}</li>
  <li class="my-activities-menu__item ">{{link 'subscriptions'}}</li>
</ul>

{{!-- Content --}}
<section class="section inner-page">

  {{#if settings.request_list_beta}}
    {{request_list}}
  {{else}}

    <div class="btn-group">
      {{#each filters}}
        {{#if selected}}
          <span class="btn btn--primary no-hover btn--sm">{{name}}</span>
        {{else}}
          <a href="{{url}}" class="btn btn--light btn--sm">
            {{name}}
          </a>
        {{/if}}
      {{/each}}
    </div>

    {{#form 'requests_filter' class='request-table-toolbar'}}
      <div class="my-activities__filter">
        <div class="my-activities__search">
          {{input 'query' id='quick-search' type='search' class='requests-search'}}
        </div>
        {{#if help_center.multiple_organizations_enabled}}
          <div class="my-activities__select" data-plugin-autosubmit>
            {{label 'organization' for='filter-organization'}}
            {{select 'organization' id='filter-organization'}}
          </div>
        {{/if}}
        <div class="my-activities__select" data-plugin-autosubmit>
          {{label 'status' for='filter-status'}}
          {{select 'status' id='filter-select'}}
        </div>
      </div>
    {{/form}}

    {{#if requests}}
      <table class="my-activities">
        <thead>
        <tr>
          <td>{{t 'id'}}</td>
          <td>{{t 'subject'}}</td>
          <td class="my-activities__is-hidden">
            {{#is current_filter.identifier 'my'}}
              {{t 'created'}}
            {{else}}
              {{t 'requester'}}
            {{/is}}
          </td>
          <td class="my-activities__is-hidden">
            {{#link 'requests' sort_by='updated_at'}}{{t 'last_activity'}}{{/link}}
          </td>
          <td class="my-activities__is-hidden">
            {{t 'status'}}
          </td>
        </tr>
        </thead>
        <tbody>
        {{#each requests}}
          <tr>
            <td class="meta">#{{id}}</td>
            <td>
              <a class="my-activities-item__title" href="{{url}}">
                {{#if subject}}
                  {{subject}}
                {{else}}
                  {{excerpt description characters=50}}
                {{/if}}
              </a>
            </td>
            <td class="meta my-activities__is-hidden">
              {{#is ../current_filter.identifier 'my'}}
                {{date created_at timeago=true}}
              {{else}}
                {{requester.name}}
              {{/is}}
            </td>
            <td class="meta my-activities__is-hidden">
              {{date updated_at timeago=true}}
            </td>
            <td class="my-activities__btn my-activities__is-hidden">
            <span class="request-status request-status--{{status}}" title="{{status_description}}">
              {{status_name}}
            </span>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{pagination}}
    {{else}}
      <p>{{t 'no_requests'}}</p>
    {{/if}}
  {{/if}}

</section>
